<p id="notice"><%= notice %></p>

<h2>
  <%= @user.username %> 
  <% unless @user.iced != true %>
    <span class="label label-info">account frozen</span>
  <% end %>
</h2>

<ul class="list-group">

<% if @user.ratings.empty? %>
  <li class="list-group-item">has not yet rated any beers</li>
<% else %>
  <li class="list-group-item">
    Has made <%= pluralize(@user.ratings.count, 'rating') %>, average <%= @user.average_rating %>
  </li>
  
  <li class="list-group-item">Favorite brewery: <%=@user.favorite_brewery.name %> </li>
  <li class="list-group-item">Favorite beer: <%=@user.favorite_beer %> </li>
  <li class="list-group-item">Favorite style: <%=@user.favorite_style %> </li>
<% end %>

<li class="list-group-item">
<% if @user.beer_clubs.any? %>
  member of
  <% @user.beer_clubs.each do |club| %>
      <%= link_to club.name, club %>
  <% end %>
<% end %>
</li>

</ul>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Given ratings</h3>
  </div>
  <div class="panel-body">
    <ul class="list-group">
      <% @user.ratings.each do |rating| %>
        <li class="list-group-item">
          <%= rating %>
          <% if @user == current_user %>
            <p class="text-right"><%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %></p>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<% if not current_user.nil? %>
  <% unless current_user.admin != true %>
    <% unless @user.iced != true %>
      <% message = "reactivate account" %>
    <% else %>
      <% message = "freeze account" %>
    <% end %>
  <%= link_to message, toggle_iced_user_path(@user.id), method: :post, class:"btn btn-danger" %>
<% end %>
<% end %>

<% if @user == current_user %>
  <%= link_to 'Change password', edit_user_path(@user), class:'btn btn-primary' %>
  <%= link_to 'Delete account', @user, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %>
<% end %>
